{{#each content.posts}}
    <article>
        <div class="article-info">
            <div class="avatar"></div>
            <p>Name Surname</p>
            <p>Jan 27, 2014</p>
        </div>
        <header>{{title}}</header>
        <img src="{{img}}"/>
        <p>{{{description}}}</p>
        <hr/>
    </article>
{{/each}}