{{#section 'css'}}
<link rel="stylesheet" href="/style/css/login.css">
{{/section}}

<h2>Confirm account deletion</h2>
<p>Are you sure you want to delete your account and all of your blog posts from CS Blogs?</p>
<div class="alert-box alert-error">
	This cannot be undone!
</div>
<p></p>
<a id="submit-button" href="/delete-account">Confirm</a>
<a id="cancel-button" href="/">Cancel</a>
