{{#section 'css'}}
<link rel="stylesheet" href="/style/css/login.css">
{{/section}}

<h2>Confirm account deletion</h2>
<div id="delete-txt">
    <p>Are you sure you want to delete your account and all of your blog posts from CS Blogs?</p>
    <p>This action cannot be undone!</p>
</div>
<div id="delete-btns">
    <a id="cancel-button" href="/profile">Cancel</a>
    <a id="submit-button" href="/delete-account">Delete</a>
</div>
