<h2>Hello, world!</h2>
<p>CSBlogs.com is the new blog aggregation system to replace the new defunct hullcompsciblogs.com</p>
<p>HCSB did a great job of giving Computer Science students at The University of Hull a platform from which to make friends, give advice to fellow students, bolster their CV and generally communicate with the computer science community at large. CS Blogs hopes to build on this by generalising the service and allowin other universities and companies to take part.</p>

<h2>Watch this space</h2>
<p>CSBlogs will magically appear at this location at some time in the near future.</p>

<h2>Get involved</h2>
<p>If you want to help us the develop the system please report a bug, request a feature or event help with programming over on the projects <a href="http://github.com/csblogs">Github repository</a></p>
