<p> To continue please login using one of the following services: </p>
<p><em> Hint: We've only enabled public, professional services for login on CSBlogs.com. Remember whatever account you log in with will be the one we use for your profile picture! Make it sensible! </em></p>
<ul>
  <a href="/auth/github"><li>Github</li></a>
  <a href="/auth/wordpress"><li>WordPress.com</li></a>
  <a href="/auth/stack-exchange"><li>Stack Exchange (Stack overflow etc.)</li></a>
</ul>
