{{#section 'css'}}
<link rel="stylesheet" href="style/css/register.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{{/section}}

<div id="body-content">
    <div class="avatar" style="background-image: url('{{user._json.avatar_url}}');"></div>

    <form>
        <h2>Your Profile</h2>
        <div class="row">
            <div class="input-field column">
                <input id="first_name" type="text">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field column">
                <input id="last_name" type="text">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="input-field">
            <input id="email" type="email">
            <label for="email">Email Address</label>
        </div>
        <div class="input-field">
            <textarea id="bio" maxlength="120"></textarea>
            <label for="bio">About You</label>
        </div>
        <p id="bio-desc">A short bio about yourself, up to 120 characters.</p>
        <div class="input-field">
            <input id="vanity_url" type="text">
            <label for="vanity_url">Profile Name</label>
        </div>
        <p>This will be used in your profile URL (e.g. csblogs.com/yourname)</p>
        <h2>Your Content</h2>
        <div class="input-field">
            <input id="feed_url" type="url">
            <label for="feed_url">Blog Feed URL</label>
        </div>
        <div class="input-field">
            <input id="blog_url" type="url">
            <label for="blog_url">Blog Website URL</label>
        </div>
        <div class="input-field">
            <input id="site_url" type="url">
            <label for="site_url">Website URL</label>
        </div>
        <div class="input-field">
            <input id="cv_url" type="url">
            <label for="cv_url">Curriculum Vitae URL</label>
        </div>
        <h2>Social Links</h2>
        <div class="input-field">
            <input id="github_name" type="text">
            <label for="github_name">GitHub Name</label>
        </div>
        <div class="input-field">
            <input id="twitter_name" type="text">
            <label for="twitter_name">Twitter Name</label>
        </div>
        <div class="input-field">
            <input id="linkedIn_name" type="text">
            <label for="linkedIn_name">LinkedIn Name</label>
        </div>
        <input id="submit-button" type="submit" value="Add your blog">
    </form>
</div>

<script>
    var inputSelector = 'input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=number], textarea';
    $(document).on('focus', inputSelector, function() {
        $(this).siblings('label').addClass('active');
    });
    $(document).on('blur', inputSelector, function() {
        if ($(this).val().length === 0 && $(this).attr('placeholder') === undefined) {
            $(this).siblings('label').removeClass('active');
        }
        //validateField($(this));
    });
</script>
