main h1 {
	margin: 30px 0px;
	margin-bottom: 10px;
	font-size: 32pt;
    font-weight: bold;
    letter-spacing: -1px;
    color: #333;
}

main img {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main p {
    text-align: justify;
}

hr {
    display: block;
    box-sizing: content-box;
    height: 1px;
    border: 0;
    border-top: #A2A2A2 1px solid;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}