@import 'vars';

main {
    padding: 0;
}

h2 {
    font-style: italic;
    text-align: center;
    margin-top: 24px;
    font-size: 24px;
    font-family: "Merriweather", serif;
}

#login-selector {
    margin: 20px auto;
    width: 435px; // (width + margin) * count
}

#login-selector:after {
    content: '';
    clear: both;
    display: block;
}

#login-selector li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 125px;
    background: #fff;

    svg {
        display: block;
        margin: 0px auto;
        width: 100px;
        height: 100px;
        fill: @link-color;
    }

    a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
    }

    p {
        margin: 4px 0px;
        font-family: @sans-serif-font;
    }
}

#login-stackex:hover {
    svg, p {
        fill: #f47a20;
        color: #f47a20;
    }
}

#login-github:hover {
    svg, p {
        fill: #682a81;
        color: #682a81;
    }
}

#login-wordpress:hover {
    svg, p {
        fill: #21759b;
        color: #21759b;
    }
}

// Confirm-delete CSS
#delete-txt {
    margin: 10px 30px;

    p {
        margin: 0;
        text-align: center;
    }
}

#delete-btns {
    text-align: center;
    margin: 25px 0px;
}

#submit-button {
    background: #CF000F;
    text-decoration: none;
    color: #fff;
    border: 0;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 7px 16px;
    margin: 0px 10px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.4s ease-out;
}

#submit-button:hover {
    background: #F22613;
}

#cancel-button {
    background: #16a085;
    text-decoration: none;
    color: #fff;
    border: 0;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 7px 16px;
    margin: 0px 10px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.4s ease-out;
}

#cancel-button:hover {
    background: #19b698;
}

@media screen and (max-width: 435px) {
    #login-selector {
        width: 100%;
    }

    #login-selector li {
        width: 50%;
        margin: 0;
    }

    // Display in horizontal center of list
    #login-selector li:last-child {
        width: 100%;
    }
}
