@import "reset";
@import "index";
@import "blogs";

@header-bg-color: #f5f5f5;

body {
	background: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

header {
	text-align: center;
	background: @header-bg-color;
	border-bottom: 1px solid #e5e5e5;
    color: #333;
	height: 40px;
	padding: 10px;
}

#masthead {
	display: inline-block;
}

#masthead h1 {
	margin-left:50px;
    font-size:30px;
    margin-top:5px;
	letter-spacing:-2px;
	text-indent:-3px;
	font-weight:700;
}

#masthead img {
  height: 40px;
  float: left;
}

main {
	max-width: 800px;
	margin: 10px auto;
	padding: 35px;
}

a {
	color: #4A4A4A;
	text-decoration: underline;
}

p {
	font-size: 16px;
    font-weight: 400;
	line-height: 1.7em;
	color: #3A4145;
	margin: 10px 0px;
    font-family: "Merriweather", serif;
}