@import 'vars';

.avatar {
    // make a square container
    width: 140px;
    height: 140px;
    margin: 0px auto;
    display: block;
}

#masthead {
    outline: none;
}

main {
    max-width: none;
    padding: 0px;
}

#profile-header {
    background: @accent-color;
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 12px;
}

#profile-body {
    max-width: 800px;
    margin: 0px auto;
    padding: 0px 25px;
}

h2 {
    margin: 8px 0px;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

.button {
    width: 130px;
    height: 35px;
    display: inline-block;
    position: relative;
    background: #e6e6e6;
    border-radius: 35px;
    margin-right: 8px;
    cursor: pointer;
    z-index: 0;
    
    svg {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 35px;
        fill: #999;
        z-index: 2;
    }
    
    a {
        position: absolute;
        top: 10px;
        left: 42px;
        text-decoration: none;
        margin-bottom: 6px;
    }
}

.button-bg {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: white;
}

@media screen and (max-width: 580px) {
    #masthead {
        background: #9F0714;
    }
    
    #nav-bg {
        visibility: hidden;
    }
}
