@import 'vars';

.avatar {
    // make a square container
    width: 8.750em;
    height: 8.750em;
    margin: 0px auto;
    display: block;
    // fill the container, preserving aspect ratio, and cropping to fit
    background-size: cover;
    // center the image vertically and horizontally
    background-position: center;
    // round the edges to a circle with border radius 1/2 container size
    border-radius: 50%;
}